<div class="row mb-4">
  <div class="col-3">
    <input type="text" class="form-control m-1" placeholder="Name" [(ngModel)]="hero.name" >
  </div>
  <div class="col-3">
    <input type="text" class="form-control m-1" placeholder="Power" [(ngModel)]="hero.power" >
  </div>
  <div class="col-3">
    <input type="text" class="form-control m-1" placeholder="Image URL" [(ngModel)]="hero.image" >
  </div>
  <div class="col-3">
    <button class="btn btn-warning shadow-md m-1 form-control" (click)="createHero()">Create</button>
  </div>
</div>
